<div class="container-fluid container-fluid-custom">
<h1>About</h1>
<p> Reflectly is your personal pocket sanctuary for mental well-being. Born from a hackathon challenge, our app is designed to empower users to navigate their emotions through guided journaling. Reflectly strips away complexities, offering a simple, intuitive interface for users to express thoughts, track moods, and discover patterns in their emotional health. It’s a space to reflect, grow, and heal at your own pace, with the support of a community that understands. Dive into the Reflectly experience and turn your daily reflections into steps towards a more mindful, balanced life.

</p>
</div>