

    <div class="container-fluid container-fluid-custom">
        <div class="hotline">
            <h1 class="text-primary">SAMHSA’s National Helpline</h1>
            <p>This helpline is a free, confidential, 24/7, 365-day-a-year treatment referral and information service (in English and Spanish) for individuals and families facing mental and/or substance use disorders.</p>
            <p class="hotline-number">📞 1-800-662-HELP (4357)</p>
            <a href="https://www.findtreatment.gov" class="btn btn-primary" target="_blank" rel="noopener noreferrer">FindTreatment.gov</a>
        </div>
    </div>
    
    <div class="container-fluid container-fluid-custom">
        <h1>Help Resources</h1>
        <div class="row">
            <div class="col hotline">
                <h2>988 Suicide & Crisis Lifeline</h2>
                <p>Free and confidential support for people in distress, 24/7.</p>
                <a href="tel:988" class="btn btn-primary">Call or text 988</a>
            </div>
            <div class="col hotline">
                <h2>National Helpline</h2>
                <p>Treatment referral and information, 24/7.</p>
                <a href="tel:18006624357" class="btn btn-primary">1-800-662-HELP (4357)</a>
            </div>
            <div class="col hotline">
                <h2>Disaster Distress Helpline</h2>
                <p>Immediate crisis counseling related to disasters, 24/7.</p>
                <a href="tel:18009855990" class="btn btn-primary">1-800-985-5990</a>
            </div>
        </div>
    </div>